@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

span {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  padding: 23px 30px;
  box-shadow: 0 3px 7.5px #00000034;
  margin-bottom: 20px;
}

.navbar-logo {
  height: 65px;
  width: 145px;
}

.header {
  display: block;
  text-align: left;
  margin: 0 20%;
}

.main-title {
  font-size: 46px;
  margin: 20px 0px;
}

.sub-title {
  font-size: 30px;
  font-weight: 300;
}

.card {
  width: 225px;
  height: 302px;
  padding: 10px;
  margin: 25px;
}

.card-img {
  width: 225px;
  height: 284px;
  border-radius: 9px;
}

.card-btn {
  position: absolute;
  margin: 10px;
  border: none;
  background-color: white;
  color: #222222;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
}

.row {
  width: inherit;
  display: flex;
  align-items: center;
}

.card-btn:hover {
  transform: scale(1.03);
}

.card-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.score {
  font-size: 15px;
  font-weight: 300;
  color: #222222;
  padding: 0;
  margin: 0;
}

.review {
  color: #918e9b;
  margin-left: 10px;
}

.description {
  font-size: 15px;
  font-weight: 300;
  color: #222222;
}

.price {
  font-weight: 700;
  color: #222222;
}

.unit {
  margin-left: 5px;
  font-weight: 300;
}

@media screen and (max-width: 990px) {
  .header {
    margin: 0 10%;
  }

  .main-title {
    font-size: 36px;
  }

  .sub-title {
    font-size: 20px;
  }

  .hero-img {
    width: 500px;
  }
}
