@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  padding: 23px 30px;
  box-shadow: 0 3px 7.5px #00000034;
  margin-bottom: 20px;
}

.navbar-logo {
  height: 65px;
  width: 145px;
}

.header {
  display: block;
  text-align: left;
  margin: 0 20%;
}

.main-title {
  font-size: 46px;
  margin: 20px 0px;
}

.sub-title {
  font-size: 30px;
  font-weight: 300;
}

@media screen and (max-width: 990px) {
  .header {
    margin: 0 10%;
  }

  .main-title {
    font-size: 36px;
  }

  .sub-title {
    font-size: 20px;
  }

  .hero-img {
    width: 500px;
  }
}
